= link_to "Register", new_traveller_registration_path
= link_to "Log In", new_traveller_session_path

.heading The Bucket List

#bucket
  = form_for @todo ,remote: true do |f|
    %fieldset
      = f.label :destination
      = f.select :destination_id , @destination_options , selected: 0

    %fieldset
      = f.label "What"
      = f.text_field :description

    %fieldset
      = f.label "Where"
      = f.text_field :address

    %button#btn__add-to_do Bucket It
  
  %select#select--sort-to_dos
    %option{ value: "data"}
      ^A-Z
    %option{selected: "selected", value: "data_id"}
      ^1,2,3..

  #to_dos
    = render partial: 'to_dos/to_dos', locals: {some_to_dos: @to_dos}

#map-container
  #map-canvas{data: {to_dos: @to_dos_json ,style: "position: fixed; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);" }}