= form_for @edit_or_new_to_do ,remote: true do |f|
  %fieldset
    = f.label :destination
    = f.select :destination_id , @destination_options , selected: 0

  %fieldset
    = f.label "What"
    = f.text_field :description

  %fieldset
    = f.label "Where"
    = f.text_field :address

  %button#btn__add-to_do Bucket It
