
- @to_dos.each do |t|
  .to_do{data: "#{t.description}" , data_id: "#{t.id}"}
    .h3.to_do__title
      = t.description
    %p
      Location: #{t.address}

    = link_to "show snaps", photos_to_do_path(t) , {class: "click--photos", remote: true}
    .container--like
      = link_to "Like" , create_like_to_do_path(t), {method: "POST", remote: true}
      .num_of_likes
        = t.likes.length == 0 ? "" : t.likes.length