
.to_do{data: "#{to_do.description}" , data_id: "#{to_do.id}"}
  .h3.to_do__title
    = to_do.description

  = link_to image_tag('edit_icon.png') , edit_to_do_path(to_do), {class: "edit-link", remote: true}

  %p
    Location: #{to_do.address}
  = link_to "show snaps", photos_to_do_path(to_do) , {class: "click--photos", remote: true}