= link_to image_tag('edit-icon.png') , edit_to_do_path(t), {id: "for-test-edit-link" , class: "edit-link", remote: true}
.h3.to_do__title
  = t.description
%p
  Location: #{t.address}

= link_to "show snaps", photos_to_do_path(t) , {class: "click--photos", remote: true}
.container--like
  = link_to "Like" , create_like_to_do_path(t), {method: "POST", remote: true}
  .num_of_likes
    = t.likes.length == 0 ? "" : t.likes.length